<div id="<%= "#{dom_id(shop)}_item" %>">
  <p>
    <!-- <strong>Title:</strong> -->
    <div class="card card-body">
      <div class="d-flex flex-row">
        <%= turbo_frame_tag dom_id(shop) do %>
          <span class="p-1 h5"><%= shop.item %></span>
          <span class="p-1"><%= link_to "Edit", edit_shop_path(shop), class: "btn btn-warning btn-sm" %></span>
          <span class="float float-right"><%= link_to "Delete", shop_path(shop), data: { turbo_method: :delete }, class: "btn btn-danger btn-sm" %></span> 
        <% end %>
      </div>
    </div> 
  </p>
</div>
